.fondoPanel{
    overflow: auto;
    max-height: calc(100vh - 80px - 6em);
}

h4{
    margin-bottom: 0.75em;
}

.bloque-examenes{
    display: flex;
    flex-direction: column;
}

#btn-crear{
    padding: 0.5em 0.75em;
    display: flex;
    align-self: flex-end;
}
.contenedor-btn-crear {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}


.bloque-examenes button{
    align-self: flex-end;
}

.icono-item{
    flex-direction: row;
    width: unset;
    font-size: unset;
    gap: 0.5em;
}

.icono-item img{
    margin: 0;
    width: 1em;
    height: 1em;
}


.item-examen {
    background-color: var(--color-fondoPROAGris);
    padding: 1.5em;
    border: 1px solid var(--color-bordes);
    border-radius: 5px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.titulo-fecha-envio{
    display: flex;
    flex-direction: column;
    gap: 0.25em;

}

.btn-visualizar-entregas,
.btn-ver-ficha {
    font-size: 1em;
    border: solid 1px;
}

.botones-profesor button {
    width: 100%;
}


.item-examen-realizar {
    background-color: var(--color-panelesBlancoPuro);
    padding: 1.5em;
    border: 1px solid var(--color-bordes);
    border-radius: 5px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.item-examen.solo-info {
    flex-direction: column;
    align-items: flex-start;
}

.item-examen .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.25em;
    width: 100%;
}

.fecha-limite {
    color: var(--color-mensajeError);
    font-size: 0.9em;
}

.fecha-envio {
    font-size: 0.9em;
    color: #777;
}

.nota {
    color: var(--color-primario);
    font-weight: bold;
    font-size: 1.1em;
}

.botones-profesor {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* EXÁMENES EN BORRADORES */
.item-examen-borrador {
    pointer-events: none; /* Evita la interacción con los exámenes borradores */
}

/* Quitamos el efecto hover para los exámenes en borrador */
.item-examen-borrador:hover {
    box-shadow: none; /* Quita el efecto de sombra al pasar el ratón */
    border: 1px solid var(--color-bordes); /* Deja el borde tal como está, sin cambios */
}
.item-examen-borrador .btn-visualizar-entregas {

}
    cursor: not-allowed;
.btn-terminar {

    font-family: var(--fuente-principal);
    background-color: #7F7F7F;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0.75em 1.5em;
    border-radius: 10px;
    border: none;
    cursor: not-allowed;
    outline: none;
    opacity: 0.5;
    pointer-events: none;
}

/* Eliminamos el hover */
.btn-terminar:hover,
.btn-terminar:focus {
    filter: none;
}

@media (max-width: 500px) {
    .item-examen {
        flex-wrap: nowrap;
    }

    .item-examen .info{
        flex-direction: column;
        align-items: center;
        gap: 0.75em;
    }

    .bloque-examenes button{
        align-self: unset;
    }

    #btn-crear{
        margin-top: 1em;

    }
}

