footer {
    background-color: #101827;
    color: #ffffff;
    padding: 1em 0;
    font-size: 0.9em;
    font-family: var(--fuente-principal);
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em; /* equilibrio entre columnas */
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2em;
    flex-wrap: wrap;
}

.columna-footer {
    margin: 0.5em 0;
}

.columna-footer img {
    width: 8em;
    margin-bottom: 1em;
}

.columna-footer h4 {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.25em;
    font-family: 'Lato', sans-serif;
}

.columna-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.columna-footer ul li {
    margin-bottom: 0.5em;
}

.columna-footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.parrafo-terciario {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 700px) {
    .columna-footer {
        flex: 1; /* hace que todas las columnas ocupen espacio proporcional */
        min-width: 12em;
    }
}

/* ✅ Responsive: SOLO cambiar tipografías en móvil */
@media (max-width: 520px) {
    .contenido-footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5em;
        gap: 2em;
    }

    .columna-footer h4 {
        font-size: 1em; /* Lato bold 16 */
        font-weight: bold;
    }

    .parrafo-terciario,
    .columna-footer ul li,
    .columna-footer ul li a {
        font-size: 0.875em; /* Lato regular 14 */
    }

    .columna-footer img {
        width: 7em;
        margin-left: 0;
    }
}
